/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

header {
  background-color: #283e4a;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ddd;
}

.search-bar {
  position: relative;
}

.search-bar input {
  padding: 8px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
}

.search-bar input::placeholder {
  font-size: 14px;
}

@media (max-width: 768px) {
  .nav-links {
      display: none; /* Hide links for small screens */
  }

  .search-bar {
      flex: 1;
      margin-left: 10px;
  }
}
